
customer{
    width:30%;
      background-color: yellow;
}

table {
    width:100%;

        position: fixed;
       font-family: arial, sans-serif;
  border-collapse: collapse;

}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.break { page-break-before: always; } 


